<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Here</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'users/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Welcome, please register</h1>

       First Name: <input type="text" name="first_name"> <br><br>

       Last Name: <input type="text" name="last_name"><br><br>

        Email: <input type="email" name="email"><br><br>

        Password: <input type="password" name="pw"><br><br>

        Password Confirm: <input type="password" name="pw-confirm"><br>

        <a href="/register_view" role="button" class="btn btn-success">Register</a>

        <a href="/" role="button" class="btn btn-primary">Back to Home</a>
    </div>
</body>
</html>
